*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primaryColor: #15357a;
  --secondaryColor: #2c70f0;
  --highlightColor: #fbbf24;
  --linkColor: #0270e0;
}

mark {
  background-color: var(--highlightColor);
  border-radius: 2px;
}

.wrapper {
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 290px;
}
